<!-- Include Header -->
<%- include public-layout/header.ejs %>

<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
            <span class="contact100-form-title">
                <font face="Acme">#KELUARGAAUISS</font>
            </span>

            <div style="display: block; margin-right: auto; margin-left: auto;">
                <img src="/login-assets/images/auiss-icon.png" style="height: 135px; margin-bottom: 30px" />
            </div>

            <div class="wrap-input100" data-validate="Masukkan Job Details Anda!" style="margin-bottom:5px">
                <center>
                    <span class="label-input100">Terima Kasih atas Kontribusi Keluarga Sekalian, Salam KELUARGA AUISS! *</span>
                </center>
            </div>

        </form>
    </div>
</div>

<!-- Include Footer -->
<%- include public-layout/footer.ejs %>