<!--===============================================================================================-->
    <script src="/public-assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/public-assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/public-assets/vendor/bootstrap/js/popper.js"></script>
	<script src="/public-assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/public-assets/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/public-assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="/public-assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/public-assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/public-assets/vendor/noui/nouislider.min.js"></script>
<!--===============================================================================================-->
	<script src="/public-assets/js/main.js"></script>

</body>
</html>